.actions {
    position: absolute;
    top: 0;
    right: 0;
}

.project .actions {
    visibility: hidden;
}
.project:hover .actions {
    visibility: visible;
}

.project.planned {
    color: grey;
    a {
        color: grey;
    }
}
